<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rock v0.0.1</title>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Game version v0.0.1</h1></div>
                    <div class="panel-body">
                        <div class="card header">
                            <div class="card-header">
                                Test-environment for Game-dev
                            </div>
                            <div class="card-body">
                                <form action="/autoplay" method="POST">
                                    <label for="rounds">Rounds:</label>
                                    <input type="number" placeholder="3" name="rounds">
                                    <button id="btn" class="btn btn-outline-dark center play-btn" onclick="">Start game</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>